<!DOCTYPE html>
<html lang="en" class="inner-pages">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title>Questioner Meetups</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="True">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
</head>

<body>

    <div class="header">
        <p><span class="webtitle"> <img style="vertical-align:middle" src="../static/images/logo2.png" width="35px" height="35px"> Questioner </span> <span class="slogan">Ask, Discuss, Learn and Grow</span></p>
    </div>

    <div class="navbar">
        <ul><div class="navlink">
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="meetups.html" class="current">Meetups</a></li>
                <li><a href="questions.html">Questions</a></li>
                <li><a href="#">Notifications</a></li>
                <li><a href="profile.html">Profile</a></li>
                <div class="dropdown">
                        <li class="dropbtn"><a href="#">Catherine</a></li>
                        <div class="dropdown-content">
                            <a href="index.html">Logout</a>
                        </div>
                    </div>
            </div>
        </ul>
    </div>
        

    <div class="row">
        <div class="meetups-card">
            <img src="../static/images/github.png">
            <div class="container">
                <p><b><a href="github-questions.html"> Github for Beginners </a></b><br>
                    Venue: KCB Sports Club<br>
                    Date: 15th January, 2019<br>
                    Tags: <a href="#">github</a>
            </div>
        </div>

        <div class="meetups-card">
            <img src="../static/images/AI.jpeg" width="300px" height="168px">
            <div class="container">
                <p><b><a href="AI-questions.html"> Artificial Intelligence </a></b><br>
                    Venue: PAC University<br>
                    Date: 21st January, 2019<br>
                    Tags: <a href="#">artificial intelligence</a>
            </div>
        </div>

        <div class="meetups-card">
            <img src="../static/images/machine-learning.jpg" width="300px" height="168px">
            <div class="container">
                <p><b><a href="machine-questions.html">Machine-learning with Python</a></b><br>
                    Venue: Andela<br>
                    Date: 25th January, 2019<br>
                    Tags: <a href="#">machine learning</a> <a href="#">python</a>

            </div>
        </div>
    </div>

    <div class="row2">
        <div class="meetups-card">
            <img src="../static/images/algorithm-data.png" width="300px" height="168px">
            <div class="container">
                <p><b><a href="#">Algorithms and data structures</a></b><br>
                    Venue: PAC Conference 2<br>
                    Date: 30th January, 2019<br>
                    Tags: <a href="#">algorithms</a> <a href="#">data structures</a>
            </div>
        </div>

        <div class="meetups-card">
            <img src="../static/images/python.jpg" width="300px" height="168px">
            <div class="container">
                <p><b><a href="python-questions.html">Python for Beginners</a></b><br>
                    Venue: KCB Sports Club<br>
                    Date: 22nd January, 2019<br>
                    Tags: <a href="#">python</a> <a href="#">programming</a>
                </div>
        </div>

        <div class="meetups-card">
            <img src="../static/images/relational-database.jpg" width="300px" height="168px">
            <div class="container">
                <p><b><a href="#">Relational Databases</a></b><br>
                    Venue: USIU<br>
                    Date: 15th January, 2019<br>
                    Tags: <a href="#">databases</a> <a href="#">sql</a>
                </div>
        </div>
    </div>

    <div class="footer">
        &copy; 2019, Questioner <br>
        All rights reserved.
    </div>
</body>
</html>

