<!DOCTYPE html>
<html lang="en" class="inner-pages">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title>Profile Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="True">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
</head>

<body>

    <div class="header">
        <p><span class="webtitle"> <img style="vertical-align:middle" src="../static/images/logo2.png" width="35px" height="35px"> Questioner </span> <span class="slogan">Ask, Discuss, Learn and Grow</span></p>
    </div>

    <div class="navbar">
            <ul><div class="navlink">
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="meetups.html">Meetups</a></li>
                    <li><a href="questions.html">Questions</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li><a href="profile.html" class="current">Profile</a></li>
                    <div class="dropdown">
                        <li class="dropbtn"><a href="#">Catherine</a></li>
                        <div class="dropdown-content">
                            <a href="index.html">Logout</a>
                        </div>
                    </div>
                </div>
            </ul>
    </div>

    <div class="profile">
        <img src="../static/images/profile-user.png">
        <div class="description">
                <h2>Bio:</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec pretium mi ac sodales convallis. Phasellus sit amet mauris felis.
                Sed dolor dui, accumsan in pretium eu, aliquet in massa. Quisque consectetur
                sit amet mi at ultrices. Donec vehicula nulla quis velit commodo, in ullamcorper
                metus efficitur. Vivamus at dictum dui, ut molestie turpis. Pellentesque sed
                feugiat diam. 
                <div class="bio">
                    <div class="bio1">MEMBER SINCE:</div>
                    <div class="bio1">PROFESSION:</div>
                    <div class="bio1">LANGUAGES:</div>
                </div>

                <div class="desc">
                    <div class="desc1">10th June, 2016</div>
                    <div class="desc1"> Web developer</div>
                    <div class="desc1">English, Kiswahili, French</div>
                </div>
        </div>
       
    </div>

    <hr>

    <div class="activity">
        <h1 class="head1">MY ACTIVITY:</h1>

        <div class="figures">
            <div class="numbers">
                <div class="numb">40</div>
                <div class="numb">10</div>
                <div class="numb">80</div>
            </div>

            <div class="statistics">
                <div class="stat">Number of questions asked</div>
                <div class="stat">Number of meetups attended</div>
                <div class="stat">Number of comments posted</div>
            </div>
        </div>
    </div>

    <div class="footer">
            &copy; 2019, Questioner <br>
            All rights reserved.
    </div>
</body>
</html>


